body{
    background-color: beige;
    margin:0px;
}
h1{
    margin:0px;
    padding: 10px;
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
table td{
    padding: 3px;
}

table{
    width: 900px;
    margin-top: 25px;
    margin-left: 15px;
}
thead{
    background-color: bisque;
    color: black;
}
tbody{
    background-color: cornsilk;
}
tfoot{
    background-color: black;
    color: white;
    font-size: 10px;
}
tbody td{
    border-bottom: 1px dotted black;
}